<%- include('../partials/header')%>
    <%- include('../partials/nav')%>
    <section id="show-page">
      <table class="ui celled collapsing very basic table">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departs</th>
            <th>Airport</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
            <td><%= flight.airport %></td>
          </tr>
        </tbody>

      </table>
        
        <form action="/flights/<%= flight._id%>/edit" method="GET">
        <button class="ui button" type="submit">Edit</button></form>
        <br>
        <br>
        <form class="ui form" id="add-destination-form" method="POST" action="/flights/<%= flight._id %>">
          <div class="field">
            <label>Destination Airport:</label>
            <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>

          </div>
          <div class="field">

            <label>Arrival:</label>
            <input type="datetime-local" name="arrival">
            <br>
            <br>
            <input type="submit" value="Add Destination" class="ui button">
          </div>
          </form>
      </section>
      <% if (flight.destinations.length) { %>
            <% flight.destinations.forEach(destination => { %>
                <div><%=  destination.airport %></div>
                <div><%=  destination.arrival %></div><br>
            <% }); %>
      <% } else { %>
        <h5>No Destination Yet</h5>
      <% } %>
        <form method="GET" action="/flights/<%= flight._id %>/tickets/new">
          <input type="submit" value="Add a Ticket">
        </form>
        <h2>Tickets</h2>
        <% if (tickets.length) { %>
          <div class="ui celled grid">
            <div class="row">
          <% tickets.forEach(ticket => { %>
                <div class="three wide column">
                  <%=  ticket.seat %>
                  <%=  ticket.price %>
                </div>
             
              </div>
            </div>
              <br>
          <% }); %>
    <% } else { %>
      <h5>No Tickets Yet</h5>
    <% } %>



        



</body>
</html>